.title {
    text-align: center;
    font-size: 3rem;
    margin-top: 5rem;
}

.container {
    width: 95%;
    max-width: 100rem;
    margin: 0 auto; /*Centramos horizontalmente*/
}

@media (min-width:768px){ /*Cuando el ancho de la pantalla sea más de 768 pixeles)*/
    .container {
        display:grid;
        grid-template-columns: repeat(2, 1fr); /*2 columnas de igual ancho*/
        align-items: center;
        gap: 4rem;
        margin-top: 5rem;
    }
}